body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
}

.container {
  margin: 50px auto 0 auto;
  padding: 50px 80px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.income-expense {
  margin: 20px 0;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.income {
  display: inline-block;
  width: 48%;
  text-align: center;
}

.expense {
  display: inline-block;
  width: 48%;
  text-align: center;
  border-left: 1px solid #ccc;
}

.balance-amount {
  font-size: 40px;
}

.transaction-block {
  display: block;
}

.add-btn {
  background: rgb(0, 157, 255);
  color: white;
  border: none;
  font-size: 22px;
  width: 100%;
  padding: 5px;
}

.add-btn:hover {
  background: rgb(64, 179, 250);
}

h3 {
  margin-top: 55px;
  border-bottom: 1px solid rgb(0, 157, 255);
}

form {
  font-size: 18px;
}

form > div {
  padding: 8px 2px;
}

input {
  font-size: 18px;
  border: 1px solid #bbb;
  padding: 10px;
}

form > input {
  margin-bottom: 20px;
}

input:disabled {
  background: white;
  border: none;
}

.bal {
  font-size: 32px;
  font-weight: 600;
}

.inc {
  color: green;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

.exp {
  font-size: 26px;
  border: 3px solid black;
  text-align: center;
  width: 100%;
  color: red;
}

.transaction {
  background: rgb(253, 253, 253);
  border-bottom: 1px solid #ddd;
  padding: 8px 4px;
  margin: 4px 2px;
}

.transaction:hover {
  border-bottom: 1px solid rgb(118, 118, 118);
}

.history-description {
  display: inline-block;
  width: 60%;
  text-align: left;
}

.history-amount {
  display: inline-block;
  width: 30%;
  text-align: right;
}

.pos {
  border-right: 4px solid rgb(0, 234, 0);
}

.neg {
  border-right: 4px solid rgb(244, 39, 39);
}

.deleteTransaction {
  background: rgb(234, 232, 232);
  color: white;
  cursor: pointer;
  margin-left: -30px;
  width: 16px;
  padding: 2px;
  transition: 0.9;
  float: left;
  text-align: center;
}

.deleteTransaction:hover {
  background: rgb(201, 8, 8);
}
